# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Secrets
config_secrets.py
.env

# Chroma local vector DB
chroma_db/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db